node_modules
generated
package-lock.json

**/*/*.pdf

**/__pycache__/
**/*/.venv/*


pyppeteer_test/test-notebooks/.env


*/**/.env
*/**/index.html
silicon_flow_generator/prototypes/index.html
silicon_flow_generator/prototypes/prototype_1_server/index.html
